*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
  }
  .doc{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
  }
  .btn{
    border-radius: 5px;
    overflow: hidden;
    display: block;
    position: relative;
  }
  .btn i{
    margin-right: 5px;
    margin-left: 5px;
  }

/*Comeco da parte do codigo da sidebar*/
  .sidebar{
    width: 200px;
    height: 100%;
    background: white;
    overflow: hidden;
    float: left;
    box-shadow: 2px 5px 3px 2px rgb(129, 129, 129);
  }
  .sidebar img{
    width: 200px;
    display: block;
    margin:  auto;
  }
  
  .sidebar ul{
    margin: 0;
    padding: 0;
  }
  .sidebar li{
    list-style: none;
    padding: 10px;
  }
  .sidebar hr{
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border:1px inset rgb(184, 184, 184);
  }
  .sidebar li:hover{
    background: rgba(255, 135, 0, 0.2);
    color: black;
    padding: 10px 20px;
    display: block;
    margin: auto;
    border-image: 
    linear-gradient(
      to bottom, 
      rgba(255, 135, 0, 0.2), 
      orange
    ) 2 50%;
    border-left-width: 5px;
    border-left-style: solid;
  }
  .sidebar a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 17px;
    font-family: sans-serif;
  }
  /*Fim da parte do codigo da sidebar*/

  /*Comeco da "up bar"*/
  .upbar{
    background: rgba(255, 135, 0, 0.2);
    height: 100px;
    width: 100%;
  }
  label.titulo{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 17px;
    color: gray;
  }
  label.welcome{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    float: right;
    text-align: right;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 20px;
    color: gray;
  }
  label.notficacoes{
    width: 15px;
    height: 15px;
    background: rgba(255, 83, 31);
    border-radius: 50%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    text-align: center;
    top: 25px;
    right: 20px;
    font-size: 11px;
    color: white;
  }
  .upbar img{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    width: 50px;
    border-radius: 50%;
  }
/*Botao mudanca de idiomas*/
  .btn-upbar{
    padding: 10px 10px;
    float: right;
    width: 105px;
    margin-right: 20px;
    margin-top: 30px;
    border: 1px solid gray;
    background: rgba(255, 135, 0, 0.2), ;
    color: gray;
  }
  
  /*Final da "up bar"*/

  /*Comeco do conteudo*/
  
  .content{
    padding: 30px;
    font-size: 16px;
    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .content h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 200px;
    margin-right: 300px;
    color: orange;
  }
  .content p{
    font-size: 18px;
    text-align: justify;
    margin-left: 200px;
  }
  .right{
    float: right;
  }
  .content span{
    color: orange;
    padding: 10px 0px;
    display: block;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 25px;
  }
  .btn-download{
    float:right;
    padding: 3px 3px;
    width: 115px;
    margin-right: 20px;
    margin-top: 0px;
    background: orange ;
    color: white;
  }
  .btn-single{
    float:right;
    padding: 3px 3px;
    width: 33px;
    margin-right: 20px;
    margin-top: 0px;
    background: orange ;
    color: white;
  }